In [2]:
import pandas as pd
import numpy as np
import xlsxwriter
from openpyxl import load_workbook
from pandas import ExcelWriter
from pandas import ExcelFile

data=pd.read_excel("site.xlsx","Feuille1", keep_default_na=False, skiprows = [0,1],usecols=[1,2,3,4]) 
print(data)

path = r"/home/alex/Documents/Python facture/site.xlsx"
book = load_workbook(path)
writer = pd.ExcelWriter(path, engine = 'openpyxl')
writer.book = book

df_data=pd.DataFrame(data)
df_data.to_excel(writer,sheet_name = 'will work')

writer.save()
writer.close()

    Unnamed: 0            Unnamed: 1 Unnamed: 2 Unnamed: 3
0        Lieu:                 Paris   Facture      n° 154
1
2               Le 02 Décembre  2002
3
4                   Mr et Mme Dupond
5
6            2           Ballon bleu         16
7            1            CH24 jaune         36
8            1          Ballon rouge         30
9            3               Chapeau         15
10           1           Ballon vert         26
11           1              Pantalon         16
12           1                Fleurs         26
13
14                          TOTAL CB
15
16
17       Lieu:                 Paris   Facture      n° 155
18
19              Le 02 Décembre  2002
20
21                       Mr et Mme X
22
23           1           Ballon bleu         16
24           0            CH24 jaune         36
25           5          Ballon rouge         30
26           3               Chapeau         15
27           6           Ballon vert         26
28           1              Pantalon         16
29           0                Fleurs         26
..         ...                   ...        ...        ...
87              Le 02 Décembre  2002
88
89                       Mr et Mme A
90
91           0           Ballon bleu         16
92           6            CH24 jaune         36
93           4          Ballon rouge         30
94           9               Chapeau         15
95           5           Ballon vert         26
96           1              Pantalon         16
97           6                Fleurs         26
98
99                     TOTAL Espèces
100
101
102      Lieu:                 Paris   Facture       n°160
103
104             Le 02 Décembre  2002
105
106                      Mr et Mme B
107
108          1           Ballon bleu         16
109          1            CH24 jaune         36
110          1          Ballon rouge         30
111          6               Chapeau         15
112          5           Ballon vert         26
113          4              Pantalon         16
114         31                Fleurs         26
115
116                    TOTAL Espèces

[117 rows x 4 columns]

In [2]:

totalballon=[]
b=[]
espece=np.where(data['Unnamed: 1']=='TOTAL Espèces')[0]
carte=np.where(data['Unnamed: 1']=='TOTAL CB')[0]
cheque=np.where(data['Unnamed: 1']=='TOTAL Chèque')[0]

articles=["Ballon bleu", "CH24 jaune", "Ballon rouge", "Chapeau", "Ballon vert", "Pantalon", "Fleurs"]

print(np.sum(data['Unnamed: 3'][espece]))
print(np.sum(data['Unnamed: 3'][carte]))
print(np.sum(data['Unnamed: 3'][cheque]))


for i in articles:
    nb=np.where(data['Unnamed: 1']==i)[0]
    b.append(np.sum(data['Unnamed: 0'][nb]))
print(b)

ballon=["Ballon bleu", "Ballon rouge", "Ballon vert"]

for j in ballon:
    nb=np.where(data['Unnamed: 1']==j)[0]
    totalballon.append(np.sum(data['Unnamed: 0'][nb]))
totalballon=[sum(totalballon)]
print(totalballon)

1945
1109
617
[4, 19, 13, 29, 22, 19, 47]
[39]

In [3]:
with pd.ExcelWriter('site.xlsx', engine='openpyxl') as writer:
    writer.book = load_workbook('site.xlsx')
  
    
    TOTALespece = np.sum(data['Unnamed: 3'][espece])
    TOTALcarte = np.sum(data['Unnamed: 3'][carte])
    TOTALcheque = np.sum(data['Unnamed: 3'][cheque])
    
    df1 = pd.DataFrame({'articles':articles})
    df2 = pd.DataFrame({'nombres':b})
    df3 = pd.DataFrame({'Total ballon':totalballon})
    
    dfe = pd.DataFrame({'TOTAL Espèces':[TOTALespece]})
    dfcarte = pd.DataFrame({'TOTAL CB':[TOTALcarte]})
    dfcheque = pd.DataFrame({'TOTAL Chèque':[TOTALcheque]})
    
    df1.to_excel(writer, "Feuille2", index=False)
    df2.to_excel(writer, "Feuille2", index=False, startcol=1)
    df3.to_excel(writer, "Feuille2", index=False, startcol=2)
    dfe.to_excel(writer, "Feuille2", index=False, startcol=3)
    dfcarte.to_excel(writer, "Feuille2", index=False, startcol=4)
    dfcheque.to_excel(writer, "Feuille2", index=False, startcol=5)
    writer.save()